/* .video-cards-container {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.video-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0.5rem;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
} */
