.balances{
display: flex;  
gap: 10%;
margin-top: 10%;
 margin-left: 10%; 
 margin-right: 10%; 
}
.balance{
   transform: translatex(-70vh);
    width:50%;
    display: grid;
    grid-gap: 20px;
     background-color: #191942;
    padding: 50px;
    box-shadow: 0px 0px 1px;
    border-radius: 10px;
} 
.balance3{
    display: grid;
}
.balance-image{
    width: 40px;
    height: 40px;
}
.balance1{
    display: flex;
    gap: 1px;
}
.balance2{
    display: flex;
    gap: 60px;
}

.balance-select{
    color: #191942;
    width: 24%;
}
.balance3{
    display: grid;
    grid-gap: 20px;
}
.balance-button{
    padding: 9px;
    width: 52.5vh;
    /* margin-top: 10px; */
    border-radius: 5px;
    color: #191942;
    background-color: #fee60c;
}
.balence-input{
    padding: 8px;
    width: 49vh;
    color: #191942;
    background-color: white;
    border-radius: 5px;
}
.balence-inputt{
    color: #191942;
display: grid;
grid-gap: 5px;
}
.balance-withdraw{
    display: grid;
    grid-gap: 10px;
}
.balance-butto{
    width: 100%;
    padding: 5px;
}


.balanc{
   margin-top: 50px;
   margin-left: 55vh;
    display: grid;
    width: 50%;
    height: 40%;
    grid-gap: 10px; 
     background-color: #191942;
     padding: 50px; 
    box-shadow: 0px 0px 1px;
    border-radius: 10px;
}
.balanc-button{
    background-color: #fee60c;
    color: #191942;
    padding: 9px;
    width: 220px;
    border-radius: 5px;
}
.balenc-inputt{
    background-color: white;
    color: #191942;
    padding: 9px;
    width: 200px;
    border-radius: 5px;
}