
.dashboard{
    display: grid;
   
  
    
  }
  .sidebar-outlet{
    display: flex;
    background-color: #191942;
    
  }
  .outlet{
    background-color: #191942;
  margin-left: 10%;
    min-height: 100vh;
   
  }