* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.sidebre {
  background-color: white;
  margin-top: 115px;
  min-height: 72vh;
  display: flex;
  width: 10%;
  box-shadow: 0px 2px 2px;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0.8, 0, 0, 0.6);
  padding: 25px 10px 20px 40px;
  position: fixed;
}

#sidelink {
  font-size: 1.1rem;
  color: #191943;
  font-weight: 500;
  margin-left: 1.1rem;
}
.sidebar-text {
  text-decoration: none;
  display: flex;
  color: #191943;
  margin-top: 1.5rem;
}
.sidebar-text p:hover {
  color: rgb(145, 166, 166);
}
.sidebar-text p {
  margin-top: 4px;
  font-size: 16px;
  color: #191943;
}

.sidebar1 {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.setting-sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebar-icon {
  font-size: 18px;
  margin-top: 4px;
}
@media (max-width: 780px) {
  .sidebre {
    display: none;
  }
}
