*{    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
        
}
.sidebre{
  
  background-color:white;
  margin-top: 60px;
  min-height: 89vh;
  display: flex;
  flex-direction: column;
  gap: 50vh;
  padding: 25px 50px 20px 40px;
  position: fixed;
 border-right: solid rgb(201, 221, 150) 1px;
} 
.sidebar-text{
  text-decoration: none;
  display: flex;
  color:  #191942;  
  gap: 10px;
}
.sidebar-text p:hover{
  color: rgb(145, 166, 166);
}
.sidebar-text p{
  margin-top: 4px;
  font-size: 13px;
}

.sidebar1{
 display: flex;
 gap: 15px;
 flex-direction: column;
}
.setting-sidebar{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebar-icon{
  font-size: 19px;
}
@media (max-width:780px) {
  .sidebre{
      display: none;
  }
  
}
